<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About {{site.title}}</h2>
                <hr class="light">
                <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dignissim lacus, eu facilisis augue. Sed porta erat magna, eleifend accumsan nisl sollicitudin vel. Etiam consectetur velit nec ipsum lobortis tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet tincidunt felis, a mollis arcu. Aliquam ac venenatis.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Contact me</a> -->
            </div>
        </div>
    </div>
</section>
