<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Featured Video</h1>
            <hr>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/O_RHDOQzLLo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
